<div id="dirask-search">
    <ul>
        <li>
            <a href="https://dirask.com/posts/${data.suggestions[i].post_hash}"
                >${data.suggestions[i].post_name}</a
            >
        </li>
    </ul>
    <div>
        <span>There is no solution to your problem here?</span>
        <span>
            <a id="report-btn" href="javascript:void(0)"
                >Report a problem on the dirask</a>
            - our community will try to help you!
        </span>
    </div>
</div>
