#dirask-search-popup-inner {
    -webkit-text-size-adjust: 100%;
    color: rgba(0, 0, 0, 0.87);
    box-sizing: content-box;
    margin: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    pointer-events: auto !important;
    background-color: rgb(255, 255, 255) !important;
    box-shadow: rgb(85, 85, 85) 5px 5px 30px !important;
    display: inline-block !important;
    height: auto !important;
    max-width: 800px !important;
    min-height: 100px !important;
    vertical-align: middle !important;
    width: 20% !important;
    position: relative !important;
    top: 20% !important;
    text-align: left !important;
    cursor: auto !important;
    border-radius: 8px !important;
    padding: 20px !important;
    overflow: hidden !important;
}

#dirask-search-popup {
    -webkit-text-size-adjust: 100%;
    color: rgba(0, 0, 0, 0.87);
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    cursor: pointer;
    display: block;
    height: 100%;
    position: fixed;
    text-align: center;
    top: 0px;
    left: 0px;
    width: 100%;
    z-index: 999999999;
    pointer-events: none;
    background: rgba(0, 0, 0, 0.4);
    font-size: 14px !important;
    font-family: Verdana, Geneva, sans-serif !important;
    box-sizing: content-box !important;
}

#dirask-input {
    padding: 4px;
    margin: 10px;
}

#dirask-search-list {
    min-height: 200px;
}

#dirask-search {
    margin-bottom: 50px;
}

#dirask-search ul {
    padding: 0px;
    margin: 7px;
}

#dirask-search li {
    color: rgb(0, 58, 119);
    text-decoration: none;
    margin-bottom: 5px;
}

#dirask-search-popup-inner-container {
    display: flex;
    flex-direction: column;
}

#report-btn {
    cursor: pointer;
}